.main-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "filter store store store store";
}

.store-container {
  grid-area: store;
  margin: 1rem 0 0 1rem;
}
.store-vertical-products {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.filter-container {
  grid-area: filter;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-right: 1rem;
  padding: 2rem;
  background-color: var(--white);
}
.filter-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-category-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}
.filter-category-checkbox {
  padding-left: 2rem;
}
.filter-rating-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}
.filter-sort-by {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 600;
}
.filter-container input {
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
}
.store-heading-container {
  font-size: 1rem;
}
#price-range-slider {
  width: 100%;
}
.price-range-span {
  display: flex;
  justify-content: space-between;
}
.price-range-span span {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray);
}

/* Media Queries */

@media screen and (max-width: 1280px) {
  .main-body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "filter filter store store store store store";
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
  .main-body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "filter filter filter filter filter"
      "store store store store store";
  }
}

@media screen and (max-width: 480px) {
}
